<!DOCTYPE html>
<html lang="en" class="{% block html_classes %}{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Site Monitor</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    {% if request.url.path == '/' %}
    <link rel="stylesheet" href="/static/css/home.css">
    {% elif request.url.path == '/sites' %}
    <link rel="stylesheet" href="/static/css/sites.css">
    {% elif request.url.path == '/settings' %}
    <link rel="stylesheet" href="/static/css/settings.css">
    {% elif request.url.path == '/history' %}
    <link rel="stylesheet" href="/static/css/history.css">
    {% endif %}
</head>
<body class="{% block body_classes %}{% endblock %}">
    <div class="container">
        <!-- Notification container -->
        <div id="notification-container"></div>
        
        {% include "navbar.html" %}
        <main class="content">
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p class="author">Made by <a href="https://thomas.bonnici.xyz" target="_blank">Thomas Bonnici</a></p>
            <p class="version">v0.1.6</p>
        </footer>
    </div>
    
    <script src="/static/js/layout.js"></script>
    <script src="/static/js/navbar.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
