<nav class="navbar">
    <div class="navbar-brand">
        <a href="/" data-text="Simple Site Monitor">Simple Site Monitor</a>
    </div>
    <button class="navbar-toggle" id="navbarToggle">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="navbar-menu" id="navbarMenu">
        <ul class="navbar-items">
            <li class="navbar-item"><a href="/" {% if request.path == '/' %}class="active"{% endif %}>Monitoring</a></li>
            <li class="navbar-item"><a href="/history" {% if request.path == '/history' %}class="active"{% endif %}>History</a></li>
            <li class="navbar-item"><a href="/sites" {% if request.path == '/sites' %}class="active"{% endif %}>Sites</a></li>
            <li class="navbar-item"><a href="/settings" {% if request.path == '/settings' %}class="active"{% endif %}>Settings</a></li>
            <li class="navbar-item"><a href="https://github.com/DarthTigerson/Simple-Site-Monitor" target="_blank">GitHub</a></li>
        </ul>
    </div>
</nav>
