{% extends "layout.html" %}

{% block content %}
<div class="dashboard-container">
    <section class="sites-dashboard">
        <div class="section-header">
            <h2>Settings</h2>
            <button type="button" id="saveSettingsBtn" class="btn btn-success">
                <img src="/static/images/save.svg" width="20" height="20" alt="Save" style="filter: brightness(0) invert(1);">
                <span>Save</span>
            </button>
        </div>

        <form id="settingsForm">
            <div class="settings-grid">
                <div class="settings-card">
                    <div class="settings-card-header">
                        <h3>General</h3>
                    </div>
                    <div class="settings-card-content">
                        <div class="settings-subcards">
                            <div class="settings-subcard">
                                <div class="form-group">
                                    <label for="scanInterval">SCAN INTERVAL</label>
                                    <p class="setting-description">How often the runner will check site status that doesnt have a set custom scan interval</p>
                                    <div class="number-input-container">
                                        <button type="button" class="number-decrement" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.dispatchEvent(new Event('change'));">-</button>
                                        <input type="number" id="scanInterval" name="scanInterval" value="{{ config.default_scan_interval }}" min="30" max="86400" step="1" required>
                                        <button type="button" class="number-increment" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.dispatchEvent(new Event('change'));">+</button>
                                    </div>
                                    <span class="unit-label">seconds</span>
                                </div>
                            </div>
                            <div class="settings-subcard">
                                <div class="form-group">
                                    <label for="defaultTimeout">TIMEOUT</label>
                                    <p class="setting-description">The maximum amount of time the runner will wait for a site to respond before flagging it as down</p>
                                    <div class="number-input-container">
                                        <button type="button" class="number-decrement" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.dispatchEvent(new Event('change'));">-</button>
                                        <input type="number" id="defaultTimeout" name="defaultTimeout" value="{{ config.default_timeout }}" min="10" max="300" step="1" required>
                                        <button type="button" class="number-increment" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.dispatchEvent(new Event('change'));">+</button>
                                    </div>
                                    <span class="unit-label">seconds</span>
                                </div>
                            </div>
                            <div class="settings-subcard">
                                <div class="form-group">
                                    <label for="slowThreshold">SLOW THRESHOLD</label>
                                    <p class="setting-description">If a site surpasses this threshold, it will be flagged as slow</p>
                                    <div class="number-input-container">
                                        <button type="button" class="number-decrement" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.dispatchEvent(new Event('change'));">-</button>
                                        <input type="number" id="slowThreshold" name="slowThreshold" value="{{ config.default_slow_threshold }}" min="0.5" max="300" step="0.5" required>
                                        <button type="button" class="number-increment" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.dispatchEvent(new Event('change'));">+</button>
                                    </div>
                                    <span class="unit-label">seconds</span>
                                </div>
                            </div>
                            <div class="settings-subcard">
                                <div class="form-group">
                                    <label for="expiringTokenThreshold">EXPIRING TOKEN THRESHOLD</label>
                                    <p class="setting-description">If enabled, the runner will show warnings if the token is expiring soon</p>
                                    <div class="number-input-container">
                                        <button type="button" class="number-decrement" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.dispatchEvent(new Event('change'));">-</button>
                                        <input type="number" id="expiringTokenThreshold" name="expiringTokenThreshold" value="{{ config.expiring_token_threshold }}" min="1" max="60" step="1" required>
                                        <button type="button" class="number-increment" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.dispatchEvent(new Event('change'));">+</button>
                                    </div>
                                    <span class="unit-label">days</span>
                                </div>
                            </div>
                            <div class="settings-subcard">
                                <div class="form-group">
                                    <label for="attemptBeforeTrigger">ATTEMPT BEFORE TRIGGER</label>
                                    <p class="setting-description">The number of attempts before the runner will trigger a down alert</p>
                                    <div class="number-input-container">
                                        <button type="button" class="number-decrement" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.dispatchEvent(new Event('change'));">-</button>
                                        <input type="number" id="attemptBeforeTrigger" name="attemptBeforeTrigger" value="{{ config.attempt_before_trigger }}" min="1" max="999" step="1" required>
                                        <button type="button" class="number-increment" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.dispatchEvent(new Event('change'));">+</button>
                                    </div>
                                    <span class="unit-label">attempts</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="settings-card">
                    <div class="settings-card-header">
                        <h3>Webhooks</h3>
                    </div>
                    <div class="settings-card-content">
                        <div class="settings-subcards">
                            <div class="settings-subcard webhook-controls-card">
                                <div class="form-group">
                                    <label>WEBHOOK STATUS</label>
                                    <p class="setting-description">Enable or disable webhook notifications</p>
                                    <div class="webhook-toggle-container">
                                        <button type="button" id="webhookToggleBtn" class="btn webhook-toggle {% if config.webhooks and config.webhooks.enabled %}enabled{% else %}disabled{% endif %}">
                                            {% if config.webhooks and config.webhooks.enabled %}Webhook Enabled{% else %}Webhook Disabled{% endif %}
                                        </button>
                                        <input type="hidden" id="webhookEnabled" name="webhookEnabled" value="{% if config.webhooks and config.webhooks.enabled %}true{% else %}false{% endif %}">
                                    </div>
                                </div>
                            </div>
                            {% if config.webhooks and config.webhooks.enabled %}
                            <div class="settings-subcard webhook-details-card">
                            {% else %}
                            <div class="settings-subcard webhook-details-card" style="display:none;">
                            {% endif %}
                                <div class="form-group">
                                    <label for="includeErrorDebugging">LEVEL OF DETAIL</label>
                                    <p class="setting-description">Select the level of details to be included in triggered notifications</p>
                                    <div class="debug-toggle-container">
                                        <button type="button" id="debugToggleBtn" class="btn debug-toggle {% if config.include_error_debugging %}enabled{% else %}disabled{% endif %}">
                                            {% if config.include_error_debugging %}Error Details Included{% else %}Simple Details{% endif %}
                                        </button>
                                        <input type="hidden" id="includeErrorDebugging" name="includeErrorDebugging" value="{{ 'true' if config.include_error_debugging else 'false' }}">
                                    </div>
                                </div>
                            </div>
                            {% if config.webhooks and config.webhooks.enabled %}
                            <div class="settings-subcard webhook-url-card">
                            {% else %}
                            <div class="settings-subcard webhook-url-card" style="display:none;">
                            {% endif %}
                                <div class="form-group">
                                    <label for="webhookUrl">WEBHOOK URL</label>
                                    <p class="setting-description">Enter a webhook URL to receive notifications when a site goes down or returns online</p>
                                    <div class="webhook-form">
                                        <div class="webhook-url">
                                            <input type="url" id="webhookUrl" name="webhookUrl" value="{{ config.webhooks.url if config.webhooks and config.webhooks|length > 0 else '' }}" placeholder="Enter webhook URL (Discord, Slack, or Teams)" {% if not config.webhooks or not config.webhooks.enabled %}disabled{% endif %}>
                                        </div>
                                        <button type="button" id="testWebhookBtn" class="btn webhook-test" title="Test Webhook" 
                                            {% if not config.webhooks or not config.webhooks.enabled %}
                                            disabled
                                            {% endif %}
                                        >
                                            <svg fill="currentColor" height="18" width="18" viewBox="0 0 24 24">
                                                <path d="M23,24H1v-4.3l7-12V2H6V0h12v2h-2v5.7l7,12V24z M12,22h9v-1.7l-3.4-5.9l0,0c-2.6-1.5-3.9-0.8-5.4-0.1S9,15.7,6.5,14.5 l-3.4,5.9V22H12z M7.4,12.7C9,13.4,10,13,11.3,12.4c1.2-0.5,2.7-1.2,4.7-0.7l-2-3.4V2h-4v6.3L7.4,12.7z"></path>
                                                <circle cx="14.5" cy="17.5" r="1.5"></circle>
                                                <circle cx="9.5" cy="18.5" r="1.5"></circle>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/settings.js"></script>
{% endblock %} 